body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  color: #555574;
  padding: 0 auto;
  margin: 0 auto;
}

h1 {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  font-weight: 700;
}

.profile {
border-radius: 50%;
width: 200px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

}

.place {
  width: 400px;
  margin:0 auto;
}

.intro {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 0 auto;
  border-spacing: 20px;
  margin-bottom: 10px
}

.places {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 0 auto;
  border-spacing: 20px;
  margin-bottom: 10px
}

.cities {
  background: white;
  padding: 30px;
  border-radius: 4px;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: 0px auto;
  margin-bottom: 5px
  /*border-spacing: 20px;*/
}

li {
  list-style: none;
  display: inline;
  padding-right: 20px;
  color: #555574;
  margin-bottom: 70px;
  text-decoration: none;
}

.links {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 0 auto;
  border-spacing: 20px;
  margin-bottom: 10px
}

.links a {
  color: #555574;
  margin-bottom: 70px;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 30px;
}

.links a:hover{
  color: red;
}

.intro a {
  color: #555574;
  text-decoration: none;
}

.intro a:hover{
  color: red;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.mentions {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 0 auto;
  border-spacing: 20px;
  margin-bottom: 10px
}

.sources {
  background: white;
  padding: 30px;
  border-radius: 4px;
  /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 450px;
  margin: 0px auto;
  margin-bottom: 5px
  /*border-spacing: 20px;*/
}

.mentions a {
  color: #555574;
  text-decoration: none;
}

.mentions a:hover{
  color: red;
}

.logo {
  width: 200px;
  margin:0 auto;
  margin-top: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
